<form class="d-flex flex-column col-8 offset-2 gap-3 pt-5" method="POST" action="#">

        <h1>Créer un compte</h1>

        <div class="d-flex justify-content-between gap-2">

            <label for="username">Username : </label>
            <input type="text"class="form-control" id="username" name="username" placeholder="Pseudo"></input>
        
        </div class="d-flex justify-content-between gap-2">

        <div class="d-flex justify-content-between gap-2">

            <label for="email">E-mail : </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Adresse Mail"></input>
        
        </div class="d-flex justify-content-between gap-2">

        <div class="d-flex justify-content-between gap-2">
        
            <label for="password">Password : </label> 
            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de Passe"></input>
        
        </div class="d-flex justify-content-between gap-2">

        <div class="d-flex justify-content-between gap-2">
        
            <label for="password2">Password (confirm) : </label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirmation du Mot de Passe"></input>
        
        </div class="d-flex justify-content-between gap-2">

        <input type="submit" value="Créer un compte" class="btn btn-primary">
    
    </form>
