<form method="get">
        <h1>Créer un compte</h1>
        <div>
            <label for="username">Username : </label>
            <input type="text" id="username" name="username" placeholder="Pseudo"></input>
        </div>
        <div>
            <label for="email">E-mail : </label>
            <input type="email" id="email" name="email" placeholder="Adresse Mail"></input>
        </div>
        <div>
            <label for="password">Password : </label> 
            <input type="password" id="password" name="password" placeholder="Mot de Passe"></input>
        </div>
        <div>
            <label for="password2">Password (confirm) : </label>
            <input type="password" id="password2" name="password2" placeholder="Confirmation du Mot de Passe"></input>
        </div>
        <button type="button" id="submit">Create Account</button>
    </form>
