{# Formulaire de création de film #}
<form class="d-flex flex-column justify-content-between col-8" action="#" method="post">
    <div class="d-flex">
        <div class="d-flex flex-column">
            <label for="title">Titre</label>
            <input type="text" name="title">
        </div>
        <div class="d-flex flex-column">
            <label for="year">Année</label>
            <input type="text" name="year">
        </div>
    </div>
    <label for="poster">Affiche</label>
    <input type="text" name="poster">
    <label for="director">Réalisateur</label>
    <input type="text" name="director">
    <div>
        <p>Rôle(s)</p>
    </div>
        <div>
            <input type="text" name="character1">
            <input type="text" name="name1">
            <input type="text" name="surname1">
        </div>
        <div>
            <input type="text" name="character2">
            <input type="text" name="name2">
            <input type="text" name="surname2">
        <div>
        </div>
            <input type="text" name="character3">
            <input type="text" name="name3">
            <input type="text" name="surname3">
        </div>
    <div>
        <input type="submit" value="Créer">
    </div>
</form>