<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>MVC with Twig</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="view/web/css/base.css" media="screen"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">placeholder logo</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarText">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="movies">Médiathèque</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="create_movie">Films</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="login">Compte</a>
								{#Compte disparaitra quand on est connecté, laissera place à créations et logout #}
							</li>
						</ul>

						<form class="d-flex" method="post" action="movies">
							<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">{# Ajout de name #}
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
					</div>
				</nav>
			</header>
		</body>
	</body>
</html></body></html></body></html>
