{# Formulaire de connexion #}
<form class="d-flex flex-column col-8 offset-2 gap-3 pt-5" action="movies" method="post">
   
    <h1>Se Connecter</h1>
   
<div class="d-flex justify-content-between gap-2">    
    <label for="email">Identifiant</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Identifiant(adresse Mail)">
</div class="d-flex justify-content-between gap-2">

<div class="d-flex justify-content-between gap-2">   
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Mot de Passe"></input>
</div class="d-flex justify-content-between gap-2">

<input class="btn btn-primary" type="submit" value="Connexion"></input>
</form>